@{
    ViewBag.Title = "About";
}

<section class="container" id="about">
    <h3 class="text-center">TEAM ORIGIN</h3>
    <hr />
    
    <div class="row">
        <div class="col-sm-3">
            <div class="team-member">
                <img src=@Url.Content("~/Content/images/Aabishkar.jpg") class="thumbnail img-responsive " alt="Image">
                <a href="https://twitter.com/aabishkart" target="blank">
                    <h4>Aabishkar Timalsina</h4>
                    <h5>aabishkar.timalsina@selu.edu</h5>
                </a>
                <p class="text-muted">Team Leader</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <img src=@Url.Content("~/Content/images/Aayush.png") class="thumbnail img-responsive " alt="Image">
                <a href="https://www.facebook.com/aayush.dahal.92?fref=ts" target="blank">
                    <h4>Aayush Dahal</h4>
                    <h5>aayush.dahal@selu.edu</h5>
                </a>
                <p class="text-muted">Team Member</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <img src=@Url.Content("~/Content/images/Zibbon.png") class="thumbnail img-responsive " alt="Image">
                <a href="https://www.facebook.com/zibbon.khadka?fref=ts" target="blank">
                    <h4>Jeetendra Khadka</h4>
                    <h5>jeetendra.khadka@selu.edu</h5>
                </a>
                <p class="text-muted">Team Member</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <img src=@Url.Content("~/Content/images/Pankaj.png") class="thumbnail img-responsive " alt="Image">
                <a href="https://www.facebook.com/pankaj.sherchan?ref=br_rs" target="blank">
                    <h4>Pankaj Sherchan</h4>
                    <h5>pankaj.sherchan@selu.edu</h5>
                </a>
                <p class="text-muted">Team Member</p>
            </div>
        </div>
    </div>
</section>
<style>
    img.thumbnail{
        width: 100%;
        height: auto;
    }
</style>