
@{
    ViewBag.Title = "ContactSuccess";
}


<level class="container text-left" style="margin-left:5px;">
    <div class="bs-callout bs-callout-warning">
        <h4>Thank you for your feedback. We will reach out to you very soon.</h4>

    </div>
</level>
