
@{
    ViewBag.Title = "HowItWorks";
}
<section class="container">
    <h3>It's simple and easy!</h3>
    <hr />
    <div class="bs-callout bs-callout-warning">
        <h4><i class="fa fa-bullhorn"></i>&nbsp;Sign Up and start your campaign</h4>
        <p></p>
        <p>
            Thing to consider after campaign:
            <ul>
                <li>Share the campaign on facebook, twitter and other social media.</li>
                <li>Feature your content in our homepage.</li>
            </ul>
        </p>
    </div>
    <div class="bs-callout bs-callout-danger">
        <h4><i class="fa fa-users"></i>&nbsp;People donate to your campaign</h4>
        <p> </p>
    </div>
    <div class="bs-callout bs-callout-info">
        <h4><i class="fa fa-calendar-check-o"></i>&nbsp;Your money will be raised</h4>
        <p></p>
    </div>

    <br />
    <br />
    <h3>Frequently asked questions:</h3>
    <hr />

    <div>
        <h5 class="strong">How will I get paid?</h5>
        <p>You will be paid through your bank at the end of the campaign period.</p>
        <hr />
    </div>

    <div>
        <h5 class="strong">What happens if I want to cancel the campaign?</h5>
        <p>If money has been raised during the period, it will be sent to respective accounts, else it will just be cancelled.</p>
        <hr />
    </div>

</section>

