
@{
    ViewBag.Title = "Welcome";
}

    <section>
    <div class="para-text">
        <h2 class="title">Let us help you raise fund for a good cause <br />and initiate your step towards the betterment of our community!</h2>
        <p class="intro">Convergent is a web-app that provides you <br /> a digital platform for crowdfunding. </p>
        <button class="btn-lg">@Html.ActionLink("Get Started", "Create", "FundRaisers")</button>
    </div>
       
   <div class="container-fluid text-center">
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner text-center" role="listbox">
            <div class="item active">
                <div class="span4">
                    <img src=~/Images/fund1.jpg class="img-thumbnail">
                    <img src=~/Images/fund2.jpg class="img-thumbnail">
                    <img src=~/Images/fund3.jpg class="img-thumbnail">
                </div>
                <div class="span4">
                    <img src=~/Images/fund4.jpg class="img-thumbnail">
                    <img src=~/Images/fund5.jpg class="img-thumbnail">
                    <img src=~/Images/fund16.jpg class="img-thumbnail">
                </div>
            </div>
            <div class="item">
                <div class="span4">
                    <img src=~/Images/fund11.jpg class="img-thumbnail">
                    <img src=~/Images/fund19.jpg class="img-thumbnail">
                    <img src=~/Images/fund13.jpg class="img-thumbnail">
                </div>
                <div class="span4">
                    <img src=~/Images/fund3.jpg class="img-thumbnail">
                    <img src=~/Images/fund15.jpg class="img-thumbnail">
                    <img src=~/Images/fund16.jpg class="img-thumbnail">
                </div>
        </div>
            <div class="item">
                <div class="span4">
                    <img src=~/Images/fund20.jpg class="img-thumbnail">
                    <img src=~/Images/fund21.jpg class="img-thumbnail">
                    <img src=~/Images/fund22.jpg class="img-thumbnail">
                </div>
                <div class="span4">
                    <img src=~/Images/fund23.jpg class="img-thumbnail">
                    <img src=~/Images/fund24.jpg class="img-thumbnail">
                    <img src=~/Images/fund10.jpg class="img-thumbnail">
                </div>
            </div>
    </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> @*End of Carousel*@
       
        @*After Carousel*@
        <div class="create-campaign text-center">
            <h2 class="text-inline"><b>Are you Ready to create your Campaign?</b></h2>
            <button class="btn-lg">@Html.ActionLink("Create Here", "Create", "FundRaisers")</button>
        </div>
        <br />
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"><i class="fa fa-university fa-4x"></i>
                        <br />
                        <h4 style="color:forestgreen;"><b>Starting is easy</b></h4>
                      
Convergent can be used  to raise money for every purpose.
                    You can create fundraising campaign within a minute. 
                    And if you need any help, We will provide you with the most personal and amazing support ever. 
                    Get started right now and you'll see why Convergent is the best online fundraising website.</p>
                    </div>
                    <div class="col-sm-4"><i class="fa fa-globe fa-4x"></i>
                        <br />
                        <h4 style="color:forestgreen;"><b>Share your story.</b></h4>
                        <p>

                Share your personal story through your own Convergent fundraising website. 
                        You’ll be amazed by how many people are ready to support your cause.
                         Our easy connections to Facebook, Twitter, Text & Email make it so easier to spread your word. 
                        Be relentless. It's for a good cause. And remember to have fun. That's what Convergent is all about.</p>
                    </div>
                    <div class="col-sm-4"><i class="fa fa-question fa-4x"></i>
                        <br />
                        <h4 style="color:forestgreen;"><b>Why Convergent?</b></h4>
                        <p>
            Convergent is all about giving back, raising money for great causes.
                        
            Our Charge fee is negligible. 
            No Goal Requirements, No deadlines.
            Keep the money you raise whether you beat your goal or not.
</p>
                    </div>
                   
                
            </div>
        </div>
        
      
        <br>
</section>