
@{
    ViewBag.Title = "Welcome";
}

    <section>
    <div class="para-text">
        <h2 class="title">Let us help you raise fund for a good cause <br />and initiate your step towards the betterment of our community!</h2>
        <p class="intro">Convergent is a web-app that provides you <br /> a digital platform for crowdfunding. </p>
        <button class="btn-lg">@Html.ActionLink("Get Started", "Create", "Campaigns")</button>
    </div>

    
</section>