
@{
    ViewBag.Title = "Home Page";
}
<section>
            <div class="para-text">
            <h2 class="title"style="background-color:transparent;">Let us help you raise fund for a good cause <br />and initiate your step towards the betterment of our community!</h2>
            <p class="intro"style="background-color:transparent;">Convergent is a web-app that provides you <br /> a digital platform for crowdfunding. </p>
                <button class="btn-lg">@Html.ActionLink("Get Started", "Create", "Campaigns")</button>
            </div>
       
    <section class="container " id="gallery">
        <div><h3><I>Image Gallery of Our Fundraiser && Donors</I></h3></div>
      <div class="row" id="Row">
         @*-----picture1----*@
            <div class="col-sm-offset-4 col-sm-2" id="flip-container1">
                <div class="picture">
            <div class="front">
            <img src="http://maxcdn.thedesigninspiration.com/wp-content/uploads/2012/11/Wallpaper-l-004.jpg" alt="airplane" class="img1" height="350" width="350">
            <span class="caption">#Pemba Hyolmo</span>
                </div>
            <div class="back">
                <p class="pic_title"><strong>Highest'$'Donor</strong>
                <span class="text-right">
                    - By #Fundraiser</span>
                    </p>    
                <br><br>
                <p class=" pic_source">
                    <span>
                        About FundRaiser
                    </span>
                    </p>
                </div>
                    </div>
            </div>
            
        @*----------picture2------------*@
        
            <div class=" col-sm-2" id="flip-container2">
                <div class="picture">
                    <div class="front">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/bd/64/f0/bd64f02085c1cef93f41c31e21c03ca2.png" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Yoni Kumar</span>
                       
                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>
     
               @*-------------picture3---------*@
        
            <div class="col-sm-2" id="flip-container3">
                <div class="picture">
                    <div class="front">
                        <img src="http://chat.ghalay.com/15.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Chiku Sherchan</span>
                        
                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>
       
                @*-----picture4-----------*@
           
        <div class="col-sm-2" id="flip-container4">
                <div class="picture">
                    <div class="front">
                        <img src="http://www.hdwallpapersnew.net/wp-content/uploads/2014/05/flying-parrot-bird-wallpaper-of-hgih-resolution.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Muttwoi Kumari</span>
                        
                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>
    </div>
        <div class="row" id="Row">
            <div class="col-sm-offset-4 col-sm-2" id="flip-container1">
                <div class="picture">
                    <div class="front">
                        <img src="http://maxcdn.thedesigninspiration.com/wp-content/uploads/2012/11/Wallpaper-l-004.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Pemba Hyolmo</span>
                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @*----------picture2------------*@

            <div class=" col-sm-2" id="flip-container2">
                <div class="picture">
                    <div class="front">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/bd/64/f0/bd64f02085c1cef93f41c31e21c03ca2.png" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Yoni Kumar</span>

                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @*-------------picture3---------*@

            <div class="col-sm-2" id="flip-container3">
                <div class="picture">
                    <div class="front">
                        <img src="http://chat.ghalay.com/15.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Chiku Sherchan</span>

                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @*-----picture4-----------*@

            <div class="col-sm-2" id="flip-container4">
                <div class="picture">
                    <div class="front">
                        <img src="http://www.hdwallpapersnew.net/wp-content/uploads/2014/05/flying-parrot-bird-wallpaper-of-hgih-resolution.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Muttwoi Kumari</span>

                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="Row">
            @*-----picture1----*@
            <div class="col-sm-offset-4 col-sm-2" id="flip-container1">
                <div class="picture">
                    <div class="front">
                        <img src="http://www.fondobook.com/wp-content/uploads/2012/11/fondo_hd_169_loro_colores.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Pemba Hyolmo</span>
                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @*----------picture2------------*@

            <div class=" col-sm-2" id="flip-container2">
                <div class="picture">
                    <div class="front">
                        <img src="http://mmpic.fardblog.com/upload/mmpic/download/Cartoon/batman_arkham_origins_12-wallpaper-1600x900.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Yoni Kumar</span>

                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @*-------------picture3---------*@

            <div class="col-sm-2" id="flip-container3">
                <div class="picture">
                    <div class="front">
                        <img src="http://4.bp.blogspot.com/-RD2XN9LykXg/UjPmqdTg7lI/AAAAAAAAAZA/EG05GPjHKZM/s1600/Free+download+image.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Chiku Sherchan</span>

                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @*-----picture4-----------*@

            <div class="col-sm-2" id="flip-container4">
                <div class="picture">
                    <div class="front">
                        <img src="http://images4.alphacoders.com/206/206268.jpg" alt="airplane" class="img1" height="350" width="350">
                        <span class="caption">#Muttwoi Kumari</span>

                    </div>
                    <div class="back">
                        <p class="pic_title">
                            <strong>Highest'$'Donor</strong>
                            <span class="text-right">
                                - By #Fundraiser
                            </span>
                        </p>
                        <br><br>
                        <p class=" pic_source">
                            <span>
                                About FundRaiser
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
