
@{
    ViewBag.Title = "Welcome";
}

    <section>
    <div class="para-text">
        <h2 class="title">Let us help you raise fund for a good cause <br />and initiate your step towards the betterment of our community!</h2>
        <p class="intro">Convergent is a web-app that provides you <br /> a digital platform for crowdfunding. </p>
        <button class="btn-lg">@Html.ActionLink("Get Started", "Create", "FundRaisers")</button>
    </div>
       
   <div class="container-fluid text-center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="span4">
                    <img src=~/Images/fund1.jpg class="img-thumbnail">
                    <img src=~/Images/fund2.jpg class="img-thumbnail">
                    <img src=~/Images/fund3.jpg class="img-thumbnail">
                </div>
                <div class="span4">
                    <img src=~/Images/fund4.jpg class="img-thumbnail">
                    <img src=~/Images/fund5.jpg class="img-thumbnail">
                    <img src=~/Images/fund16.jpg class="img-thumbnail">
                </div>
            </div>
            <div class="item">
                <div class="span4">
                    <img src=~/Images/fund11.jpg class="img-thumbnail">
                    <img src=~/Images/fund19.jpg class="img-thumbnail">
                    <img src=~/Images/fund13.jpg class="img-thumbnail">
                </div>
                <div class="span4">
                    <img src=~/Images/fund3.jpg class="img-thumbnail">
                    <img src=~/Images/fund15.jpg class="img-thumbnail">
                    <img src=~/Images/fund16.jpg class="img-thumbnail">
                </div>
        </div>
            <div class="item">
                <div class="span4">
                    <img src=~/Images/fund20.jpg class="img-thumbnail">
                    <img src=~/Images/fund21.jpg class="img-thumbnail">
                    <img src=~/Images/fund22.jpg class="img-thumbnail">
                </div>
                <div class="span4">
                    <img src=~/Images/fund23.jpg class="img-thumbnail">
                    <img src=~/Images/fund24.jpg class="img-thumbnail">
                    <img src=~/Images/fund10.jpg class="img-thumbnail">
                </div>
            </div>
    </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> @*End of Carousel*@
       
        @*After Carousel*@
        <div class="create-campaign text-center">
            <h2 class="text-inline"><b>Are you Ready to create your Campaign?</b></h2>
            <button class="btn-lg">@Html.ActionLink("Create Here", "Create", "FundRaisers")</button>
        </div>
        <br />
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"><i class="fa fa-user fa-5x"></i>
                        <br />
                        <p>Starting is easy.
You can use online fundraisers to raise money for medical bills, volunteer trips, memorial funds, your pet, a school, a stranger, and over 1.5 million charities. If you're a decent typist, your fundraising website will be live in 42 seconds. And if you need any help, CrowdRise gives you the most personal, amazing support ever. We can even add custom branding to your page. Get started right now and you'll see why CrowdRise is the best online fundraising site for charitable causes.</p>
                    </div>
                    <div class="col-sm-3"><i class="fa fa-heartbeat fa-5x"></i>
                        <br />
                        <p>Tell your story and share it with the world.

Watch the donations come rolling in.
Share your personal story through your own CrowdRise fundraising website. You’ll be shocked by how many people are ready to support your cause. Our easy connections to Facebook, Twitter, Text & Email make it so easy to spread the word. Be relentless. It's for a good cause. And remember to have fun. That's what CrowdRising is all about.</p>
                    </div>
                    <div class="col-sm-3"><i class="fa fa-key fa-5x"></i>
                        <br />
                        <p>Why you should choose CrowdRise
CrowdRise is about giving back, raising lots of money for great causes and having the most fun in the world while doing it. And, here's a pic of a napkin.

Best Pricing Guarantee
3% guaranteed pricing and fastest access to your funds. Nearly every other site charges 8%. Learn More
Raise 3x More
Raise 3x more money and crush your fundraising goal with our proven, easy fundraising ideas.
Most Trusted
The Red Cross, UNICEF, Boston Marathon, Ironman and millions of individuals use CrowdRise.
No Goal Requirements
Keep the money you raise whether you beat your goal or not. No deadlines.
Earn CrowdRise Impact Points
Earn points when you raise money or give to a cause. It's the only rewards program in the giving world.
Your Charitable Life
Show the world your charitable impact. Get your own homepage for all your fundraisers and donations.</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-pie-chart fa-5x"></i>
                        <br />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-3">
                    <i class="fa fa-envelope"></i>
                </div>
                    <div class="col-sm-3">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-registered"></i>
                    </div>
               </div>
            </div>
        </div>
        
      
        <br>
</section>