@{
    ViewBag.Title = "Home Page";
}

<div class ="container ">
    <section class="promo section section-on-bg">
        <div class="container text-center">
            <h2 class="title">Let us help you raise fund for a good cause <br />and initiate your step towards the betterment of our community!</h2>
            <p class="intro">Convergent is a web-app that provides you <br /> a digital platform for crowdfunding. </p>
           

        </div>
    </section>
   
</div>
<style>

</style>