@model FuNDs.Models.Donor


<level class="container text-center" style="margin-left:5px;">
    <div class="bs-callout bs-callout-warning">
        <h4>Your transaction has been completed.</h4>
        <p>Thank you for your donation!</p>
    </div>
