
@{
    ViewBag.Title = "PasswordRecovery";
}

<level class="container text-left" style="margin-left:5px;">
    <div class="bs-callout bs-callout-warning">
        <h4>Please check your email to reset your Password</h4>

    </div>
