
@{
    ViewBag.Title = "SignInFailure";
}


<h1 class="Error" style="color:white; margin-left:15px;"> Error.Invalid Login.</h1>
<a href="/FundRaisers/SignIn" class="re-login" style=" color:white;  margin-left:15px;">Try Logging In Again</a>
@*@Html.ActionLink("Try Logging In Again", "SignIn")*@