@model IEnumerable<FuNDs.Models.Campaign>
@{
    ViewBag.Title = "AllCampaigns";
}

<section id="all-campaigns" class="container">
  

        <div class="container">


            <div class="row">
                @foreach (var item in Model)
    {

            <div class="col-md-4 campaign">

                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="title">

                            @Html.ActionLink(item.CampaignTitle, "Pay","Donors" ,new { id = item.CampaignId}, null)

                        </h4>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="amount text-right">
                            <span class="raised">$0</span><span class="target">/@Html.DisplayFor(modelItem => item.CampaignAmount)</span>
                        </h4>
                    </div>
                </div>


                <p>
                    @Html.DisplayFor(modelItem => item.CampaignDescription)
                </p>
                <hr />


            </div>

    }
            </div>

        </div>
</section>

