@model IEnumerable<FuNDs.Models.Campaign>
@{
    ViewBag.Title = "AllCampaigns";
}

<section id="all-campaigns" class="container">

    <h3>Campaigns</h3>
   @Html.ActionLink("[Create New]", "Create")
    <hr />


    <div class="container">
       

        <div class="row">
            @foreach (var item in Model)
    {

                <div class="col-md-4 campaign">

                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="title">
                                
                                @Html.ActionLink(item.CampaignTitle, "Create","Donors" ,new { id = item.CampaignId}, null)
                                @*@Html.DisplayFor(modelItem => item.CampaignTitle)*@
                            </h4>
                        </div>
                        <div class="col-xs-6">
                            <h4 class="amount text-right">
                                <span class="raised">$0</span><span class="target">/@Html.DisplayFor(modelItem => item.CampaignAmount)</span>
                            </h4>
                        </div>
                    </div>


                    @*<div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                    </div>*@
                    <p>
                        @Html.DisplayFor(modelItem => item.CampaignDescription)
                    </p>
                    <hr />
                    <p>
                        By User on @Html.DisplayFor(modelItem => item.StartingDate)
                        [ending in 4 days ]
                    </p>


                </div>

    }
        </div>

    </div>
</section>

