html{
    height:1260px;
}
.container {
    padding: 0px 0px;
    margin: 0px 0px;
    height: 1260px;
    max-width: 1349px;
    list-style: none;
    float:left !important;
    margin:0px 0px !important;
    padding:0px 0px;
}


.container {
    max-width: 1360px;
}

/*.header {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration-line: none;
   background-color:white;
   margin-bottom:-20px;
    height: 60px;
    width: 1349px;
    
    
}*/

.clear {
    clear: both;
}

.logo {
    height: 60px;
    float: left;
    padding: 0px;
  
}

    .size {
    height: 145px;
    width: 145px;
    margin-left: 15px;
    margin-top:-35px;
}


.nav {
   width: 1155px;
    height: 60px;
    float: right;
        margin-right: 25px;
        
    
}

.otis {
    list-style-type: none;
    float: right;
    width: 1155px;
    height: 60px;
    padding: 0px;
}
    .otis li {
        float: right;
        display: inline-block;
        margin: 0 !important;
            font-weight: normal;


    }
    .pull-right{
        float: right !important;
        margin-bottom:0px;

    }
    .otis li a {
        display: inline-block;
        padding: 20px ;
        /*padding: 0px 15px !important;*/
        font-size:15px;
            font-weight: normal;

        color:white;
        margin-top:0px;
    }
    .otis>li>a:hover{
        color:black;
      text-decoration:none;
    }
    /*.otis li a.active, li a:hover{
       color: black; text-underline-position:unset;  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
    }*/

/*li {
    margin: -4px 3px;
    font-size:15px;
    background-color:transparent;
    color:white;
    display: inline-block;
    height:70px;
    
}*/
/*.btn-default{
    background-color: transparent;

}
.nav .caret {
    border-top-color: #141515;
}
.btn btn-default dropdown-toggle {
    width: 15px;
    
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 195px;
    padding: 1px 0;
    margin: 2px 0 0;
    font-size: 1px;
    height: 35px;
    list-style: none;
    background-color: transparent;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.open > .dropdown-menu {
    display: block;
    margin-left: 65px;
           height: 81px;
           background-color:transparent;
    
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    -webkit-user-select: none;
}
.btn-default:hover{
    background-color: #288feb;
    border-color:none;
}
.btn-default:hover, .btn-default:focus, .open .dropdown-toggle.btn-default {
   color: none;
    background-color:none;
    border-color:none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: transparent;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu > li > a {
    
    clear: both;
   width: 193px;
    
    line-height: 2.0;
    
    white-space: nowrap;
}*/
.dropdown {
    width: 211px;
    height: 60px;
}
.btn{
    display: inline-block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: -9px;
    font-size: 14px;
    height: 60px;
    width: 211px;
    font-weight: normal;
    text-align: center;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    -webkit-user-select: none;
}
.caret {
    border-top-color: white;
    border-bottom-color: #FAFAFA;
    margin-left: 195px;
    margin-top: -63px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.nav .caret {
    border-top-color: #FFFFFF;
}

.btn>a{
    text-decoration:none;
}
.btn>a:hover{
    color:black;
}
/*.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
}
a{
    color: white;
    text-decoration: none;
    background-color:#212121;
}*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1000;
    display: none;
    float: left;
    width: 85px;
    height: 105px;
    padding: 0px 0px;
    text-decoration: none;
    margin: 1px 0px 0px 10px;
    font-size: 14px;
    list-style: none;
    background-color: transparent;
    border:  1px solid thin;
    border:  1px solid white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
    background-clip: padding-box;

}
.dropdown-menu > li{
    margin:19px 11px;
}

.dropdown-menu > li > a {
    
    clear: both;
    width: 159px !important;
    height: 35px;
    font-weight: normal;
    padding: 5px 5px 5px 9px !important;
    
    
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    
    color: black;
    text-decoration: none;
    background-color: transparent;
    border:1px solid white;
    border-radius: 4px;

}
/*.dropdown-list{
    display: inline-block;
   padding: 0px 0px 0px 0px !important;
    background-color: white;
    font-size: 15px;
    width: 215px !important;
    height: 55px;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: white;
    margin-top: -1.5px;
    text-align:center !important;

}*/



.partial{
      height: 60px;
       padding: 0px 0px;
       margin-left:343px;
       background-color:transparent;

}
.navbar{
   padding: 0px 0px;
    
}

.home{
    margin-left:1px;
    float:right;
    padding: 1px 15px 15px 15px;
    height:40px;
}
.body-content{
    background-color:transparent;
    width:1349px;
    height:1100px;
}

.Contact {
     margin-right: 371px;
     margin-top:1px;
        margin-left: 15px;
}

section{
     height: 700px;
    width: 1349px;
    margin-top: 0px;
    
        margin-top: 0px;
   
}




    @-webkit-keyframes alterMe {
       0% {background-color:#D1C4E9;}
       25% {background-color:#757575;
            
       }
       50% {background-color:#512DA8; }
       100% {background-color:forestgreen; }
    }
    .header {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration-line: none;
   background-color:white;
   margin-bottom:-20px;
    height: 60px;
    width: 1349px;
    -webkit-animation: alterMe 20s infinite alternate;
    
}
    .para-text {
    /*background-color:#212121;*/
    text-align: center;
    color: white;
    height: 300px;
    padding-top: 0px;
    -webkit-animation: alterMe 20s infinite alternate;
}
.title{
     padding-top:10px;
}
.btn-lg{
    background-color:green;
    color:white;
   
}
.btn-lg>a{
    color:white;
    
}
.btn-lg>a:hover{
     text-decoration:none;
    color:black;
    
}

.img {
    vertical-align: middle;
    width: 215px;
    height: 215px;
}
.col-sm-offset-2 {
    margin-left: 16.666666666666664% !important;
}
.col-sm-offset-2 .col-sm-2{
    width: 215px !important;
    height: 165px !important;
    margin:3px 3px 3px 3px;
}
    .col-sm-2 {
    width: 215px !important;
    height: 165px !important;
    margin: 0px -10px 0px 15px;
}
.col-sm-2>img { 
  height: 165px !important;
  width:215px !important;
}
/*About image*/
#gallery{
    display:inline-block;
    float:left;
    height:700px;
    width:1349px;
    clear:both;
    margin-bottom:-100px;
}
.container #Row {
    height: 215px;
    width: 1349px !important;
    display: inline-block;
    padding-left: 235px;
    margin-bottom: -51px;
}

#flip-container1{width:215px; height:215px;}
#flip-container2{width:215px; height:215px; }
#flip-container3{width:215px; height:215px;}
#flip-container4{width:215px; height:215px;}


#flip-container1 img1{
    display:block;
    transition: all .5s;
 }
 
#flip-container2 img1{
    display:block;
    transition: all .5s;
 }
 #flip-container3 img1{
    display:block;
    transition: all .5s;
 }
 #flip-container4 img1{
    display:block;
    transition: all .5s;
 }

 .back{
     position:absolute;
     z-index:-1;
     
     background:#ccc;
     color:#333;
 }
 .back span{
     display:block;
     margin-top:20px;
 }
 .back .pic_title strong{
     color:red;
 }
 .back .pic_title{
     background-color:lightgoldenrodyellow;
     padding:10px;
 }
 .back .pic_source{
    padding-bottom:-35px;
 }
 .back .pic_source span{
     color:forestgreen;
     margin-top:-45px;
     padding-left:41px;
     font-weight:normal;
     
 }
.caption{
    position:absolute;
    left: 7.043478%;
    bottom:7.043478% ;
    bottom:88%;
    display:inline-block;
    color:white;
    font-size:medium;
    text-shadow:1px 1px 1px #333;
    -webkit-transition: all .5s ;
    transition: all .5s;
}
.container h3 {
    margin-top: 199px;
    color: #FF0097;
    width: 1255px;
    padding-left: 435px;
    font-weight: bolder;
}
#flip-container1 {
	perspective: 1000px;
}
	
	#flip-container1:hover .picture, .flip-container1.hover .picture {
		transform: rotateY(180deg);
	}

#flip-container1, .front, .back {
	height: 215px !important;
  width:215px !important;
}


/* flip speed goes here */
.picture {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/*.img1:hover{
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
}*/

/*.slide {
    height: 400px;
    width: 100%;
    margin: 0px;
    background-color: #288feb;
   
    
}*/

/*.hr {
    padding: 0px;
    margin: 0px;
}*/


#flip-container2 {
	perspective: 1000px;
}
	
	#flip-container2:hover .picture, .flip-container2.hover .picture {
		transform: rotateY(180deg);
	}

#flip-container2, .front, .back {
	height: 165px !important;
  width:215px !important;
}

#flip-container3 {
	perspective: 1000px;
}
	
	#flip-container3:hover .picture, .flip-container3.hover .picture {
		transform: rotateY(180deg);
	}

#flip-container3, .front, .back {
	height: 215px !important;
  width:215px !important;
}

#flip-container4 {
	perspective: 1000px;
}
	
	#flip-container4:hover .picture, .flip-container4.hover .picture {
		transform: rotateY(180deg);
	}

#flip-container4, .front, .back {
	height: 165px !important;
  width:215px !important;
}
footer{

    width:1349px;
    height:200px;
    background-image:url('http://gfx9.com/images/contents/b/l/black-fabric-texture-background-06-hd-pictures-0.jpg');
    z-index:555;
   
}
.footer-container {
    padding: 0px 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    height: 200px;
}
.col-lg-4 {
    padding-top:15px;
    list-style-type:none;
         text-align:center;
         color:white;
         
}
.col-lg-4>li>a{
    color:white;
         font-weight:normal;
         text-decoration:none;}
.col-lg-4>li>a:hover{
    color:black;
}
/*.footer-row li{
    
     float:left;
     padding-top: 170px;
     
     color:white;
     font-size:15px;
     font-weight:bold;
     list-style-type:none;
     display:inline-block;
}*/

.cnct {
    background-color: #BDBDAA;
    height: 940px;
    width: 1349px;
    text-align: center;
    margin-top: 0px;
}

h1 {
    margin-top: 0px;
    padding-top: 95px;
}

    h1.hover {
        background-color: #FF80AB;
    }
    .img11{
        height: 140px; width:150px;
    }
    


.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.carousel-indicators.active {
    margin: 0px;
    height: 13px;
    width: 13px;
}

h3 {
    color: #DDCEBB;
}
.link{
    margin-left:120px;
}
.all{
    background-color:black;
    
   
}